* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;
  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222e;
  --bg-brand: #c58de7;
  --bg-gray: #3d3d3d;
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  --gradient-border: linear-gradient(
    91.26deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  --gradient-bg: linear-gradient(91.26deg, #d586e0 0%, #91a1fa 98.93%);
  --gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  --ff-sora: "Sora", system-ui, sans-serif;
  --ff-mono: "Roboto Mono", system-ui, sans-serif;
  --ff-flex: "Roboto Flex", system-ui, sans-serif;

  --display-lg: 800 4.5rem/1.3 var(--ff-sora);
  --display-md: 800 2.5rem/1.3 var(--ff-sora);
  --display-sm: 800 2rem/1.3 var(--ff-sora);

  --overline: 700 1rem/1.5 var(--ff-mono);

  --paragraph-lg: 500 1rem/1.5 var(--ff-flex);
  --paragraph-md: 500 0.875rem/1.5 var(--ff-flex);
  --paragraph-sm: 500 0.75rem/1.5 var(--ff-flex);
  --label-md: 800 1.25rem/1.5 var(--ff-flex);
  --label-sm: 800 1rem/1.5 var(--ff-flex);
}

body {
  background-color: var(--bg-primary);
}

.container {
  margin-inline: auto;
  width: min(71rem, 100%);
  padding-inline: 2rem;
}

header {
  padding-block-start: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  margin-block-start: 3rem;
  grid-template-areas:
    "header"
    "form"
    "observation";
}

main section,
.want-draw,
.want-draw section,
.fields,
.form-control,
.observation {
  display: flex;
  flex-direction: column;
}

main section {
  align-items: initial;
  gap: 0.5rem;
  text-transform: uppercase;
  grid-area: header;
}

main section p {
  font: var(--overline);
  background-image: var(--gradient-content);
  background-clip: text;
  color: transparent;
}

main section h1,
.want-draw section h2,
.drawed .header h2 {
  color: var(--content-primary);
}

main section h1 {
  font: var(--display-md);
}

.drawed {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 5rem;
  gap: 2.25rem;
}

.drawed .header {
  text-transform: uppercase;
  text-align: center;
}

.drawed .header p {
  color: var(--content-secondary);
  font: overline;
}

.drawed-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.drawed-numbers span {
  width: 6rem;
  height: 6rem;
  color: var(--content-brand);
  font: 700 3rem/1.5 var(--ff-mono);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.want-draw {
  gap: 2.5rem;
  margin-block-start: 2.5rem;
  grid-area: form;
  display: none;
}

.want-draw section {
  gap: 0.125rem;
}

.want-draw section h2,
.drawed .header h2 {
  font: var(--label-md);
  text-transform: uppercase;
}

.want-draw section p {
  font: var(--paragraph-md);
  color: var(--content-tertiary);
  text-transform: none;
}

.fields {
  gap: 1.25rem;
}

.number-fields {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.form-control {
  align-items: center;
  gap: 0.5rem;
  width: 5.5rem;
}

.form-control:hover .form-control-field,
.form-control:focus-within .form-control-field {
  background-image: var(--gradient-border);
}

.form-control label {
  font: var(--label-sm);
  color: var(--content-secondary);
  text-transform: uppercase;
}

.form-control-field {
  background-color: var(--bg-secondary);
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control:hover label,
.form-control:focus-within label {
  color: var(--content-brand);
}

.form-control:hover input,
.form-control:focus-within input {
  background-color: var(--bg-secondary);
}

.form-control-field input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: calc(3.5rem - 2px);
  color: var(--content-primary);
  font: var(--display-sm);
  border-radius: inherit;
  padding-inline: 0.5rem;
  background-color: var(--bg-tertiary);
  width: calc(100% - 2px);
  border: none;
  outline: none;
  text-align: center;
}

.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch .switch-field {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  width: 2rem;
  height: 1.25rem;
  background-color: var(--content-tertiary);
  padding-inline: 3px;
  transition: all 500ms;
}

.switch .switch-field:has(:checked) {
  background-image: var(--gradient-bg);
}

.switch .switch-field:has(:checked) span {
  transform: translateX(calc(100% - 3px));
}

.switch .switch-field input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.switch .switch-field span {
  border-radius: 999px;
  background-color: var(--content-primary);
  width: 0.875rem;
  height: 0.875rem;
  display: block;
  transition: transform 350ms;
}

.switch p {
  color: var(--content-primary);
  font: 400 0.75rem/1.5 var(--ff-flex);
}

.btn {
  background-color: var(--bg-tertiary);
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-image: var(--gradient-border);
  }
}

.btn:hover button {
  background-color: var(--bg-secondary);
}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: calc(3.5rem - 2px);
  color: var(--content-primary);
  font: var(--label-sm);
  border-radius: inherit;
  padding-inline: 1rem;
  background-color: var(--bg-tertiary);
  width: calc(100% - 2px);
  border: none;
  outline: none;
  text-transform: uppercase;
}

.btn img {
  width: 1.5rem;
  height: 1.5rem;
}

.observation {
  gap: 2.25rem;
  max-width: 25rem;
  text-transform: none;
  margin-block-start: 5rem;
  grid-area: observation;
}

.observation-item {
  display: flex;
  gap: 0.5rem;
}

.observation-item img {
  width: 1.25rem;
  height: 1.25rem;
}

.observation-item h3 {
  font: var(--paragraph-md);
  color: var(--content-brand);
}

.observation-item p {
  font: var(--paragraph-sm);
  color: var(--content-secondary);
}

@media (min-width: 62rem) {
  header {
    justify-content: initial;
    padding-block-start: 4.75rem;
  }

  main {
    margin-block-start: 5.5rem;
    grid-template-areas:
      "header form"
      "observation form";
    column-gap: 7rem;
    grid-template-columns: 32rem 1fr;
  }

  main section h1 {
    font: var(--display-lg);
  }

  .want-draw {
    align-self: center;
    margin-block-start: 0;
  }

  .want-draw header p {
    font: var(--paragraph-lg);
    color: var(--content-secondary);
  }

  .observation {
    margin-block-start: 2.5rem;
  }
}
